# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Dont ignore wrapper
!gradle/wrapper/gradle-wrapper.jar
# === Java ===
*.class
*.jar
*.war
*.ear
